body {
  font-family: 'Scheherazade New', serif;
}

.main {
  margin-top: 175px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 6px; 
}

.product-container {
  padding: 15px;
  border-right: 1px solid rgb(231, 231, 231);
  border-bottom: 1px solid rgb(231, 231, 231);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px;
  margin-bottom: 10px;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
}

.product-name {
  min-height: 40px;
  margin-bottom: 5px;
}

.product-price {
  font-weight: 700;
  padding-top: 20px;
  margin-bottom: 5px;
}

.product-quantity-container {
  margin-bottom: 8px;
  padding-top: 10px;
  cursor: pointer;
}

.added-to-cart {
  color: rgb(106, 106, 165);
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  opacity: 0;
}

.added-to-cart img {
  height: 20px;
  margin-right: 5px;
}

.add-to-cart-button {
  width: 100%;
  padding: 8px;
  border-radius: 50px;
  border-color: rgb(106, 106, 165);
  cursor: pointer;
}

.product-spacer {
  flex: 1;
}

.product-link {
  display: block;        
  text-decoration: none; 
  color: inherit;
  width: auto;
}
         

.product-link:hover {
  color: inherit;        
}

@media (max-width: 1600px) { .products-grid { grid-template-columns: repeat(6, 1fr); } }
@media (max-width: 1300px) { .products-grid { grid-template-columns: repeat(5, 1fr); } }
@media (max-width: 1000px) { .products-grid { grid-template-columns: repeat(4, 1fr); } }
@media (max-width: 800px)  { .products-grid { grid-template-columns: repeat(3, 1fr); } }
@media (max-width: 575px)  { .products-grid { grid-template-columns: 1fr; } }
@media (max-width: 450px)  { .products-grid { grid-template-columns: 1fr; } }

@media (max-width: 575px) {
  .product-name { font-size: 14px; }
  .product-price { font-size: 16px; }
}

